*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64xp;
    columns: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;   
}

h6{
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid;
    border-color: #fff;
    outline: none;
    transition: 0.3s;
}

.white:hover{
    cursor: pointer;
    background-color: #088178;
    color: white;
    border: 1px solid #088178;
}

body{
    width: 100%;
}

.logo{
    height: 70px;
}
.business-name{
    font-family: Arial Black;
    font-size: 30px;
    color: rgb(11, 1, 54);
}

/* HEADER START */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06) ;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    margin: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.4s ease;
}

#navbar li a:hover,
#navbar a.active{
    color: #088178;
    cursor: pointer;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#088178 ;
    position: absolute;
    bottom: -4px;
    left: 10px;
}

#mobile{
    align-items: center;
    display: none;
}

#toggle-button{
    padding: 10px 80px;
    background-color: #E3E6F3;
}

.sidepanel {
    margin-top: 50px;
    top: 15%;
    width: 0;
    position: absolute;
    z-index: 1;
    height: 50vh;
    left: 0;
    background-color: rgb(1, 9, 63);
    border-width: 5px;
    border-radius: 20px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {    
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #e5e7e5;
        font-family: Arial Black;
        display: block;
        transition: 0.3s;
 }

    .sidepanel a:hover {
    color: #ffbf00;
    margin: 1px;
    }

    .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    }

    .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 0px;
    color: rgb(1, 51, 14);
    padding: 10px 15px;
    border: none;
    transition: 0.5s;
    font-weight: bold;
    font-family: Arial Black;
    }

    .openbtn:hover {
    background-color: #035e2d;
    color: #e1dfdf
    }


/* Home Page - Hero Section */
#hero{
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03) ;
    border: 1px solid;
    border-radius: 5px;
    margin: 15px 0px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.01) ;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    /* line-height: 1px; */
    border-radius: 4px;
    color: #088178;
    background-color: #fdde4f;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.08);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606060;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px ;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#more-link a{
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial Black;
    color: #035e2d;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/b17.jpg");
    min-width: 530px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}


#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}


#sm-banner h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box2{
    background-image: url("img/b18.jpg");
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-weight: 22px;
}

#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-weight: 15px;
}

#banner3 .banner-box2{
    background-image: url("img/banner/b18.jpg");
}

#banner3 .banner-box3{
    background-image: url("img/banner/b4.jpg");
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(13, 18, 69);
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125ream;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-start;
}

footer a{
    text-decoration: none;
    color: #222;
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer{
    color: #3f010b;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* Start Media Query */
@media (max-width: 799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        align-items: center;
        display: flex;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

}

#about-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: top;
    margin-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

#about-section div{
    width: 40%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#about-section img{
    border-radius: 30px;
    width: 400px;
    height: 400px;
}

#about-section h2{
    font-size: 30px;
    margin: 0 10px;
    line-height: 30px;
}

#about-section a{
    text-decoration: none;
    margin: 10px;
    color: blue
}

#about-section a:hover{
    color:#7d0015;
}


